
/* ALL SEPARATE FONT FOLDERS MUST HAVE THEIR OWN ENQUEUE STYLES IN FUNCTIONS.PHP   */


@font-face {
    font-family: 'didonesquemedium';
    src: url('didonesque-medium-webfont.eot');
    src: url('didonesque-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('didonesque-medium-webfont.woff2') format('woff2'),
         url('didonesque-medium-webfont.woff') format('woff'),
         url('didonesque-medium-webfont.ttf') format('truetype'),
         url('didonesque-medium-webfont.svg#didonesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didonesquebold';
    src: url('didonesque-bold-webfont.eot');
    src: url('didonesque-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('didonesque-bold-webfont.woff2') format('woff2'),
         url('didonesque-bold-webfont.woff') format('woff'),
         url('didonesque-bold-webfont.ttf') format('truetype'),
         url('didonesque-bold-webfont.svg#didonesquebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
